<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../lib/css/color/palette/limbo.css" />
    <link rel="stylesheet" href="../lib/css/font/roboto-anta.css" />
    <link rel="stylesheet" href="../lib/css/base.css" />
    <link rel="stylesheet" href="../lib/css/page/a4-landscape.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="content" class="page">
      <h1>{{title}}</h1>
    </div>
    <footer>
      <p>Copyright © 2024-2024, Magnus Kronnäs</p>
      <p>All rights reserved.</p>
    </footer>
  </body>
</html>
