<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="page centrum simpelBorder">
      <h1>{{title}}</h1>
    </div>
  </body>
</html>
