@import url("../base.css");
@import url("../../css/color/palette/default.css");
@import url("../color.css");
@import url("./data.css");


body {
  --border: darkviolet;
  --foreground: #ffffff;
  --font: #000000;
  --background: ghostwhite;
}

