/* Imports */
@import "../../css/base-for-color-theme.css";

/*
Config

??

Weight: -5

Style guide: config
*/
/* 
Colors
 
??

Colors:
@color-body-background: cfe0e8 - ??
@color-home-border: b7d7e8 - ??
@color-themes-border: 87bdd8 - ??
@color-about-border: daebe8 - ??
@color-group-border:  - ??
@color-course-border: red - ??
@color-part-border: red - ??
@color-lession-border: red - ??
@color-lession-subtitle: red - ??
@color-link: black - ??
@color-text: red - ??;
@color-title: black - ??;
@color-importent: red - ??
@color-error: red - ??;


Weight: -3

Style guide: config.colors
*/
:root {
  --color-body-background: #cfe0e8;
  --color-home-border: #87bdd8;
  --color-themes-border: #87bdd8;
  --color-about-border: #87bdd8;
  --color-group-border: #87bdd8;
  --color-course-border: #87bdd8;
  --color-part-border: #87bdd8;
  --color-lession-border: #87bdd8;
  --color-lession-subtitle: #87bdd8;
  --color-link: black;
  --color-text: black;
  --color-title: black;
  --color-importent: red;
  --color-error: red;
}
