:root {
    --red: rgb(160, 0, 0);
    --transparent-green: rgba(0, 136, 0, 0.7);
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;

    background-image: 
        linear-gradient(
            45deg, 
            var(--red), 
            var(--transparent-green), 
            var(--red), 
            var(--transparent-green), 
            var(--red), 
            var(--transparent-green), 
            var(--red), 
            var(--transparent-green),
            var(--red),
            var(--transparent-green)); 
    border: solid white 0.2rem;
}