<div class="menu">
  <h3>Fordon</h3>
  <ul>
    <li><a> Bilar </a></li>
    <li><a> Cycklar </a></li>
  </ul>
  <h3>Frukter</h3>
  <ul>
    <li><a> Äpplen </a></li>
    <li><a> Päron </a></li>
    <li><a> Apelsiner </a></li>
  </ul>
  <h3>Färger</h3>
  <ul>
    <li><a> Grönt </a></li>
  </ul>
</div>
