@import url("default.css");
/* https://colorhunt.co/palette/ff76cefdffc294ffd8a3d8ff */
body {
  --primary: #a3d8ff;
  --secondary: #94ffd8;
  --foreground: #fdffc2;
  --background: #ff76ce;
  --border: #94ffd8;
  --primary-ligth: #c8e8ff;
  --primary-dark: #50b6ff;
}
