body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  --jul-green: #34A65F;
  --jul-red: #CC231E;
  height: 100vh;
  color: var(--jul-red);
  background: linear-gradient(#123, #111);
}

h1 {
  color: var(--jul-green);
  font-size: 10em;
  padding: 0;
  margin: 0;
}

h2, h3 {
	font-family: 'Tangerine', serif;
	font-size: 5em;
	margin: 0;
	padding: 0;
	padding-left: 10vw;
}

h3 {
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}


@keyframes spin {
	from { transform: rotateY(0deg); }
	to { transform: rotateY(-360deg); }
  }

  @keyframes depth {
	0% { text-shadow: 0 0 black; }
	25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
	50% { text-shadow: 0 0 black; }
	75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
	100% { text-shadow: 0 0 black; }
  }