<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>GA games från HTSIT</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/color-navy.css" />
    <link rel="stylesheet" href="css/font-roboto-anta.css" />
    <link rel="stylesheet" href="css/layoute-simple.css" />
  </head>
  <body>
    <div id="content">
      <div id="banner">
        <h1>GA games från HTSIT</h1>
      </div>
      <div id="top">
        <p>
          Alla program här tillhandahålls utan några som helst garantier. Om de
          förvanldar din dator till en kattunge är det du som valde att köra
          programmets ansvar.
        </p>
      </div>
      <div id="middel">
        {{#projects}}
        <div class="card">
          <h1>{{title}}</h1>
          <div class="icon"></div>
          <h2>{{alias}}</h2>
          <p>{{description}}</p>
          {{#about}}
          <a href="{{about}}"> Webbsida </a>
          {{/about}}
          <ul class="download">
            {{#os.windows}}
            <li><a href="{{os.windows}}"> Windows </a></li>
            {{/os.windows}} {{#os.linux}}
            <li><a href="{{os.linux}}"> Linux </a></li>
            {{/os.linux}} {{#os.webb}}
            <li><a href="{{os.webb}}"> Webb </a></li>
            {{/os.webb}}
          </ul>
        </div>
        {{/projects}}
      </div>
      <div id="ending">
        {{#images}}
        <image alt="{{title}}" src="{{path}}" />
        {{/images}}
      </div>
    </div>
    <footer>
      <p>Copyright © 2024-2024, Magnus Kronnäs</p>
      <p>All rights reserved.</p>
    </footer>
  </body>
</html>
