#clock {
  display: flex;
}

.unit {
  margin: 20px;
}

.number {
  font-size: 64px;
  font-family: "arial";
}

#days {
  padding-right: 30 px;
}

.stop h1 {
  font-size: 32 px;
}

/*
#hours, #minutes + .dot:after {
content:':';
font-size:  32 px;
font-family: "arial"
}
*/
.deadline {
  background-color: red;
}
