.menu {
  background-color: var(--secondary);
  gap: 10px;
  padding: 5px;
  display: flex;
}

.submenu {
  a {
    color: inherit;
    text-decoration: inherit;
  }

  h3 {
    font-size: 16px;
    padding: 0px 16px;
    margin: 0;
  }

  ul {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--primary);
    list-style: none;
    margin: 0;

    li {
      text-align: left;
      padding-right: 15px;
    }
  }
  li:hover {
    background-color: var(--primary-ligth);
  }
}

.submenu:hover {
  h3 {
    background-color: var(--primary-ligth);
  }

  ul {
    display: block;
    float: none;
    animation-name: visible;
    animation-duration: 1s;
    opacity: 1;
  }
}

@keyframes visible {
  from   {opacity: 0;}
  to  {opacity: 1;}
}
