html,
body {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  padding: 50px;
}

#container {
  padding: 60px;
  max-width: 650px;
  background: var(--foreground);
  border: 10px solid var(--border);
  box-shadow: 0 0 0;
  color: var(--font);
  font-family: Marcellus, serif;
  text-align: center;
}

#container h1 {
  font-size: 32px;
  text-decoration: underline;
  text-shadow: 0 2px var(--foreground);
}
