/* # Card size from Britain's Waddingtons
 * 
 * heigth: 88mm;
 * width: 58mm;
 * ratio: 88/58=1.517241
 */

body {
  --ratio: 1.517241;
  --width: 60vmin;
  --heigth: calc(var(--width) * var(--ratio));
}

.card {
  width: var(--width);
  height: var(--heigth);
  background-color: lightblue;
  padding: calc(0.01 * var(--width));
}

.centrum {
  margin-left: auto;
  margin-right: auto;
}

.simpelBorder {
  border: 5px black solid;
  border-radius: calc(0.05 * var(--width));
}
