<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>GA games från HTSIT</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../lib/css/color/gradien/lime.css" />
    <link rel="stylesheet" href="../../lib/css/font/roboto-anta.css" />
    <link rel="stylesheet" href="../../lib/css/base.css" />
    <link rel="stylesheet" href="css/center-column.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="content">
      <div id="banner">
        <h1>{{title}}</h1>
      </div>
      <div id="top">
        <div class="duration">
          <span> {{start}} </span> - <span> {{end}} </span>
        </div>
      </div>
      <p>{{description}}</p>
      <ul>
        {{#statments}}
        <li>{{title}}</li>
        {{/statments}}
      </ul>
      <div id="middel">
        {{#cards}}
        <div class="card">
          <h1>{{title}}</h1>
          <div class="icon"></div>
          <h2>{{created}}</h2>
          {{#link}}
          <h3><a href="{{link}}"> Länk </a></h3>
          {{/link}}
          <p>{{description}}</p>
        </div>
        {{/cards}}
      </div>
      <div id="ending"></div>
    </div>
    <footer>
      <p>Copyright © 2024-2024, Magnus Kronnäs</p>
      <p>All rights reserved.</p>
    </footer>
  </body>
</html>
