.ball {
    border: solid;
    border-radius: 1000px;
    width: 100px;
    height: 100px;
    position: absolute;
}

.red {
    background-color: red;
    z-index: -1;
    left: 0;
    animation-name: moving-left;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.blue {
  background-color: blue;
  z-index: 1;
  top: 0px;
  animation-name: moving-down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes moving-left {
  from {left: 0;}
  to {left: 100vw;}
}

@keyframes moving-down {
  from {top: 0;}
  to {top: 100vh;}
}