/* # A4 is:
 * 
 * heigth: 297mm;
 * width: 210mm;
 * ratio: 296/210=1.40476190476
 */

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

@media print {
  body {
    print-color-adjust: exact;
    --ratio: 1.404762;
    --width: 67vw;
    --height: calc(var(--width) * var(--ratio));
  }
  #content {
    border-radius: 5vh;
    border-width: 1vh;
  }
}

body {
  --width: 80vw;
  --height: auto;
}

#content {
  width: var(--width);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
