/* Color paletts Navy(#0066cc)
 * From: https://www.w3schools.com/w3css/w3css_color_generator.asp
 */

body {
  --ligth-5: #edf6ff;
  --ligth-4: #c2e0ff;
  --ligth-3: #85c2ff;
  --ligth-2: #47a3ff;
  --ligth-1: #0a85ff;
  --normal-: #0066cc;
  --dark--1: #005cb8;
  --dark--2: #0052a3;
  --dark--3: #00478f;
  --dark--4: #003d7a;
  --dark--5: #003366;
}

body {
  background-color: #f7cac9;
}

#ending {
  border-color: #92a8d1;
  border-style: solid;
}

h1 {
  font-family: "Anta";
}
