/* Fonts
 */

@font-face {
  font-family: "Title";
  src: url("../font/robotoCondensed/RobotoCondensed-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Paragraph";
  src: url("../font/anta/Anta-Regular.ttf");
}
