body {
  background-color: var(--ligth-5);
}

#content {
  margin-top: 0;
  padding-left: 1vh;
  padding-right: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1vh solid;
  border-right: 1vh solid;
  background-color: var(--normal-);
  border-color: var(--ligth-2);
}

#banner {
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#banner h1 {
  font-size: 8vh;
  font-weight: bold;
  font-family: "Title", Arial, sans-serif;
  padding-top: 2vh;
  margin: 0;
}

#banner h2 {
  font-size: 2vh;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#top {
  font-size: 3vh;
  padding: 0 1vh;
  margin: 0 1vh;
  font-family: "Paragraph", Georgia, serif;
}

#middel {
  font-size: 2vh;
  padding: 0 1vh;
  margin: 0 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#middel > :nth-child(odd) {
  background-color: var(--dark--4);
}

#middel > :nth-child(even) {
  background-color: var(--dark--1);
}

.card {
  margin: 5px;
  width: max(20vw, 150px);
  border: solid 1vmin;
  border-color: var(--ligth-2);
  border-radius: 1vmin;
  padding-left: 1vw;
  padding-right: 1vw;

  h1 {
    font-family: "Paragraph", Georgia, serif;
  }
}

#middel img {
  width: 20vh;
}

#ending {
  padding: 0 1vh;
  margin: 1vh 2vh;
  border-radius: 1vh;
  border-width: 1vh;
  border-color: var(--ligth-2);
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

#info {
  font-size: 3vh;
  font-weight: bolder;
  margin: 2vh 0;
}

#ending img {
  margin: 2vh 0;
  width: 5vh;
  height: 5vh;
}

footer {
  display: none;
}

@media print {
  #content {
    background-color: #92a8d1;
    border-color: #034f84;
    border-style: solid;
  }

  #ending {
    border-color: #034f84;
    border-style: solid;
  }
}
