/* # A4 is:
 * 
 * heigth: 297mm;
 * width: 210mm;
 * ratio: 296/210=1.40476190476
 */

@media print {
  body {
    print-color-adjust: exact;
  }
  #board {
    transform: scale(2.5) translate(55px, 30px);
  }
}

body {
  --ratio: 1.404762;
  --width: 67vh;
  --heigth: calc(var(--width) * var(--ratio));
}

#content {
  width: var(--width);
  height: var(--heigth);
  margin-left: auto;
  margin-right: auto;
}
