#content {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5vh;
  border-width: 1vh;
}

#banner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  padding: 0;
}

#banner h1 {
  font-size: 6vh;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#banner h2 {
  font-size: 2vh;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#top {
  font-size: 3vh;
  padding: 0 1vh;
  margin: 0 1vh;
}

#middel {
  font-size: 2vh;
  padding: 0 1vh;
  margin: 0 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#middel img {
  width: 20vh;
}

#ending {
  padding: 0 1vh;
  margin: 1vh 2vh;
  border-radius: 2vh;
  border-width: 0.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

#info {
  font-size: 3vh;
  font-weight: bolder;
  margin: 2vh 0;
}

#ending img {
  margin: 2vh 0;
  width: 10vh;
  height: 10vh;
}

#board {
  width: 20vh;
  align-self: center;
}

footer {
  display: none;
}
