/* Color paletts
 * https://www.w3schools.com/colors/tryit.asp?filename=trycolors_palettes1
 * Color 1: #92a8d1 - hwb(219, 57%, 18%)
 * Color 2: #034f84 - hwb(205, 1%, 48%)
 * Color 3: #f7cac9 - hwb(1, 79%, 3%)
 * Color 4: #f7786b - hwb(6, 42%, 3%)
 */

#content {
  background-color: #034f84;
  border-color: #92a8d1;
  border-style: solid;
}

body {
  background-color: #f7cac9;
}

#ending {
  border-color: #92a8d1;
  border-style: solid;
}

h1 {
  font-family: "Anta";
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../font/robotoCondensed/RobotoCondensed-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Anta";
  src: url("../font/anta/Anta-Regular.ttf");
}

@media print {
  #content {
    background-color: #92a8d1;
    border-color: #034f84;
    border-style: solid;
  }

  #ending {
    border-color: #034f84;
    border-style: solid;
  }
}
