body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.card {
  position: relative;
  width: 200px;
  height:300px;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 3s;
}
input#open {
  display: none;
}

.card-front {
  position: relative;
  background-color: red;
  width: 200px;
  height:300px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
  transition: .3s;
}

.card-inside {
  position: absolute;
  background-color: red;
  width: 200px;
  height:300px;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

.open {
  position: absolute;
  width: 200px;
  height:300px;
  left:0;
  top:0;
  background-color: transparent;
  z-index:6;
  cursor: pointer;
}

#open:checked ~ .card-front {
  transform: rotateY(-155deg);
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
}

#open:checked ~ .card-front:before {
  z-index:5;
}
div {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.card-inside h1 {
  font-size: 48px;
  padding: 5px;
  position: relative;
  top: -50%;
}

h2 {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin:-50px 0 0 -50px;
    animation:spin 4s linear infinite;
}

@keyframes spin { 
  100% {transform:rotate(360deg);
}} 
div {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    color: red;
    background: linear-gradient(darkblue, green);
}