/* From https://www.hover.dev/css-color-palette-generator */

body {
  --primary: #ffffff;
  --primary-ligth: var(--primary);
  --primary-dark: var(--primary);
  --secondary: #ffffff;
  --secondary-ligth: var(--secondary);
  --secondary-dark: var(--secondary);
  --foreground: #000000;
  --background: #000000;
  --border: #ffffff;
  --font: #000000;
  --font-light: #000000;
  --font-lighter: #000000;
  --success: green;
  --warning: #ffffff;
  --error: #ffffff;
  --content-success: green;
  --content-warning: #ffffff;
  --content-error: #ffffff;
}
