@import url("default.css");
/* Created by  ZaDoS and convertet by krm*/
body {
  --primary:  #82b74b;
  --secondary: #c1946a;
  --foreground: #c1946a;
  --background:  #405d27;
  --border: #3e4444;
  --primary-ligth: #007fff;
  --primary-dark: #004c99;
  --secondary-ligth: #ff00ff;
  --secondary-dark: #990099;
  --success: #00cc00;
  --warning: #cccc00;
  --error: #cc0000;
  --text: #82b74b
}

#color-name::after {
  content: "A Green style";
}

#color-author::after {
  content: "ZaDoS and convertet by krm";
}

#color-about::after {
  content: "This theme is green. From 2017 Palettes on https://www.w3schools.com/colors/colors_palettes.asp\AWE will use the following colors:\A- HEX: #3e4444\A- HEX: #82b74b\A- HEX: #405d27\A- HEX: #c1946a";
  white-space: pre-wrap;
}