@import url("default.css");
/* https://colorhunt.co/palette/ff76cefdffc294ffd8a3d8ff */
body {
  --primary: #0066cc;
  --secondary: #cc00cc;
  --foreground: #fdffc2;
  --background: #ff76ce;
  --border: #94ffd8;
  --primary-ligth: #007fff;
  --primary-dark: #004c99;
  --secondary-ligth: #ff00ff;
  --secondary-dark: #990099;
  --success: #00cc00;
  --warning: #cccc00;
  --error: #cc0000;
}
