/* Color paletts
 * https://www.w3schools.com/colors/tryit.asp?filename=trycolors_palettes2
 */

html {
  --color-1: #c94c4c;
  --color-2: #eea29a;
  --color-3: #b1cbbb;
  --color-4: #deeaee;
}

body {
  background-color: var(--color-4);
}

#content {
  background-color: var(--color-2);
  border-radius: 50px;
  border: 5px var(--color-1) solid;
  margin: 10px;
  padding: 10px;
}

img {
  height: 20vh;
  border-radius: 100px;
  border: 5px var(--color-1) solid;
}
