<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/basic.css" />
    <link rel="stylesheet" href="css/simple.css" />
  </head>
  <body>
    <div class="card centrum simpelBorder">
      <h1>{{title}}</h1>
      <img src="" />
      <p>{{description}}</p>
    </div>
  </body>
</html>
