.decorations {
   display: flex;
   width: 50%;
   border: solid 5px blue;
   border-radius: 25px;
   margin: 5px;
   padding: 10px;
}

.myDecorations {
   display: flex;
   border: solid 5px ForestGreen;
   border-radius: 25px;
   margin: 5px;
   padding: 10px;
}
