

#open-house-2024 {
.medal {
  width: 100px;
  height: 162px;
}

#ribbon {
    display: flex;
}

#ribbon-0 {
  width: 20px;
  height: 100px;
  background: Orange;
}

#ribbon-1 {
  width: 80px;
  height: 100px;
  right: 0;
  background: DeepSkyBlue ;
}

#ribbon-2 {
  width: 20px;
  height: 100px;
  background: Orange;
}

#coin {
  border: 1px solid #CA5D3E;
  border-radius: 100%;
  background: Silver;
  width: 100px;
  height: 100px;
  position: relative;
  margin: -50px auto 0 auto;
  box-shadow: 0px 0px 3px 0px #989898;
}
#coin:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: inherit;
  box-shadow: 0 0 0 9px DarkGray;
}

#coin p {
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: relative;
  margin: 30% auto 50% auto;
  
}
}



#bad-teacher {
.medal {
  width: 100px;
  height: 162px;
}

#ribbon {
    display: flex;
}

#ribbon-0 {
  width: 20px;
  height: 100px;
  background: Orange;
}

#ribbon-1 {
  width: 80px;
  height: 100px;
  right: 0;
  background: DeepSkyBlue ;
}

#ribbon-2 {
  width: 20px;
  height: 100px;
  background: Orange;
}

#coin {
  border: 1px solid #CA5D3E;
  border-radius: 100%;
  background: #CD7F32;
  width: 100px;
  height: 100px;
  position: relative;
  margin: -50px auto 0 auto;
  box-shadow: 0px 0px 3px 0px #989898;
}
#coin:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: inherit;
  box-shadow: 0 0 0 9px DarkGray;
}

#coin p {
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: relative;
  margin: 30% auto 50% auto;
  
}
}
