body {
  min-width: 200px;
  max-width: 790px;
  margin: 0 auto;
  padding: 30px;
  overflow: auto;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

ul {
  padding-left: 2em;
}

li {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

a {
  color: #0366d6;
  text-decoration: none;
}
