#content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

h1 {
  text-align: center;
}

footer {
  display: none;
}

#content {
  border: solid 15px var(--foreground);
}

h1 {
  font-size: 30vw;
  background: -webkit-linear-gradient(var(--background), var(--foreground));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
