/*@import "/lib/css/color/palette/jul.css";*/
@import "./open-card-layout.css";
@import "./x-card.css";

body {
  --width-card: 200px;
  --height-card: 300px;
  --color-background: crimson;
  --color-frame: white;
  --color-card: crimson;
  --color-font: white;
  --frame-width: 10px;
}
