body {
  background-color: var(--color-background);
  color: var(--color-font);
  height: 100vh;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

.icon {
  padding: 0;
  margin: 0;
}
