/* Inspiration från https://codepen.io/cecelabomfim/pen/PbMgXb*/
html { 
	background: #222048;
  --start-time: 2s;
  --initiation-time: 0.5s;
}

#container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

h1 {
  top: 45%;
  left: 40%;
  position: absolute;
  font-size: 40pt;
  color: gold;
}

h2 {
  top: 52%;
  left: 40%;
  position: absolute;
  font-size: 40pt;
  color: silver;
}

#container>div {
  border: 2px solid #fff;
  position: absolute;
  opacity: 0;
}

#r1 {
  left: 10%;
  top: 20%;
  animation: simpel_rocket 4s ease-in-out 0.5s forwards;
  animation-iteration-count: infinite
}

#r1 span {
  animation: disappear  4s ease-in-out 0.5s forwards;
  animation-iteration-count: infinite
}

#r1 span:before {
  background: green;  
}

#r1 span:after {
  background: green;  
}

#r2 {
  left: 15%;
  top: 20%;
  animation: simpel_rocket 3s ease-in-out 1s forwards;
  animation-iteration-count: infinite
}

#r2 span {
  animation: disappear  3s ease-in-out 1s forwards;
  animation-iteration-count: infinite
}

#r2 span:before {
  background: red;  
}

#r2 span:after {
  background: red;  
}

#r3 {
  right: 20%;
  top: 25%;
  animation: simpel_rocket 4s ease-in-out 3s forwards;
  animation-iteration-count: infinite
}

#r3 span {
  animation: disappear  4s ease-in-out 3s forwards;
  animation-iteration-count: infinite
}

#r3 span:before {
  background: gold;  
}


#r3 span:after {
  background: gold;  
}


#r4 {
  right: 25%;
  top: 35%;
  animation: simpel_rocket 3.5s ease-in-out 1.5s forwards;
  animation-iteration-count: infinite
}

#r4 span {
  animation: disappear  3.5s ease-in-out 1.5s forwards;
  animation-iteration-count: infinite
}

#r4 span:before {
  background: indigo;  
}

#r4 span:after {
  background: indigo;  
}

#r5 {
  right: 30%;
  top: 50%;
  animation: simpel_rocket 3.5s ease-in-out 3s forwards;
  animation-iteration-count: infinite
}

#r5 span {
  animation: disappear  3.5s ease-in-out 3s forwards;
  animation-iteration-count: infinite
}

#r5 span:before {
  background: floralwhite;  
}

#r5 span:after {
  background: floralwhite;  
}

#r6 {
  right: 35%;
  top: 70%;
  animation: simpel_rocket 3.5s ease-in-out 2.5s forwards;
  animation-iteration-count: infinite
}

#r6 span {
  animation: disappear  3.5s ease-in-out 2.5s forwards;
  animation-iteration-count: infinite
}

#r6 span:before {
  background: indigo;  
}

#r6 span:after {
  background: indigo;  
}

#r7 {
  right: 40%;
  top: 65%;
  animation: simpel_rocket 3.5s ease-in-out 2.25s forwards;
  animation-iteration-count: infinite
}

#r7 span {
  animation: disappear  3.5s ease-in-out 2.25s forwards;
  animation-iteration-count: infinite
}

#r7 span:before {
  background: magenta;  
}

#r7 span:after {
  background: magenta;  
}

#r8 {
  right: 45%;
  top: 85%;
  animation: simpel_rocket 3.5s ease-in-out 2s forwards;
  animation-iteration-count: infinite
}

#r8 span {
  animation: disappear  3.5s ease-in-out 2s forwards;
  animation-iteration-count: infinite
}

#r8 span:before {
  background: lawngreen;  
}

#r8 span:after {
  background: lawngreen;  
}

#r9 {
  right: 50%;
  top: 90%;
  animation: simpel_rocket 3.5s ease-in-out 1.75s forwards;
  animation-iteration-count: infinite
}

#r9 span {
  animation: disappear  3.5s ease-in-out 1.75s forwards;
  animation-iteration-count: infinite
}

#r9 span:before {
  background: brown;  
}

#r9 span:after {
  background: brown;  
}

#r10 {
  right: 55%;
  top: 60%;
  animation: simpel_rocket 3.5s ease-in-out 1.5s forwards;
  animation-iteration-count: infinite
}

#r10 span {
  animation: disappear  3.5s ease-in-out 1.5s forwards;
  animation-iteration-count: infinite
}

#r10 span:before {
  background: pink;  
}

#r10 span:after {
  background: pink;  
}

#r11 {
  right: 55%;
  top: 20%;
  animation: simpel_rocket 3.5s ease-in-out 1.25s forwards;
  animation-iteration-count: infinite
}

#r11 span {
  animation: disappear  3.5s ease-in-out 1.25s forwards;
  animation-iteration-count: infinite
}

#r11 span:before {
  background: deeppink;  
}

#r11 span:after {
  background: deeppink;  
}

#r12 {
  right: 60%;
  top: 35%;
  animation: simpel_rocket 3.5s ease-in-out 1.25s forwards;
  animation-iteration-count: infinite
}

#r12 span {
  animation: disappear  3.5s ease-in-out 1.25s forwards;
  animation-iteration-count: infinite
}

#r12 span:before {
  background: greenyellow;  
}

#r12 span:after {
  background: greenyellow;  
}

#r13 {
  right: 65%;
  top: 65%;
  animation: simpel_rocket 3.5s ease-in-out 1s forwards;
  animation-iteration-count: infinite
}

#r13 span {
  animation: disappear  3.5s ease-in-out 1s forwards;
  animation-iteration-count: infinite
}

#r13 span:before {
  background: orangered;  
}

#r13 span:after {
  background: orangered;  
}

#r14 {
  right: 70%;
  top: 45%;
  animation: simpel_rocket 3.5s ease-in-out 0.75s forwards;
  animation-iteration-count: infinite
}

#r14 span {
  animation: disappear  3.5s ease-in-out 0.75s forwards;
  animation-iteration-count: infinite
}

#r14 span:before {
  background: darkcyan;  
}

#r14 span:after {
  background: darkcyan;  
}

#r15 {
  right: 75%;
  top: 30%;
  animation: simpel_rocket 3.5s ease-in-out 0.5s forwards;
  animation-iteration-count: infinite
}

#r15 span {
  animation: disappear  3.5s ease-in-out 0.5s forwards;
  animation-iteration-count: infinite
}

#r15 span:before {
  background: forestgreen;  
}

#r15 span:after {
  background: forestgreen;  
}

#r16 {
  right: 80%;
  top: 85%;
  animation: simpel_rocket 3.5s ease-in-out 0.25s forwards;
  animation-iteration-count: infinite
}

#r16 span {
  animation: disappear  3.5s ease-in-out 0.25s forwards;
  animation-iteration-count: infinite
}

#r16 span:before {
  background: crimson;  
}

#r16 span:after {
  background: crimson;  
}


#container>div span{
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#container>div span:nth-child(1){
  transform: rotate(0deg);
}

#container>div span:nth-child(2){
  transform: rotate(120deg);
}

#container>div span:nth-child(3){
  transform: rotate(240deg);
}

#container>div span:before{
  content: '';
  width: 2px;
  height: 50px;
  display: block;
  position: absolute;
  top: -60px;
  left: 2px;
}

#container>div span:after{
  content: '';
  width: 2px;
  height: 50px;
  display: block;
  position: absolute;
  bottom: -60px;
  left: 2px;
}

#container>div span i:before{
  content: '';
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15px;
  left: 10px;
}

#container>div span i:after{
  content: '';
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15px;
  right: 10px;
}

@keyframes simpel_rocket {
  0% {
    margin-top: 100%;
    opacity: 0;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  25% {
    margin-top: 0%;
    opacity: 1;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  40%{
    margin-top: 0px;
    margin-left: 0px;
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    transform: scale(0.2);
  }
  60%{
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    transform: scale(1);
  }
  80% {
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}