* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fffafa;
}
/* del 1  */
#level {
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 10px 10px;
  background-color: rgb(241, 167, 7);
  color: #efefef;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 1px 2px #888888;
}

#level:hover {
  background: #ef47ef;
  color: black;
}
.exercise {
  margin: 0px 200px 0 200px;
}
/* del2 h1 */
h1 {
  display: flex;
  align-items: center;
  background: url(/themes/ramin/coding.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px #00bfff;
  height: 30vh;
  text-align: center;
  padding: 50px;
  box-shadow: 0px -50px 0px 10px #00bfff;
}
h1:nth-last-child(2) {
  color: red;
}

.course .title {
  background: url(/themes/ramin/prog...jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px #000;
}
.lession .title {
  background: url(/themes/ramin/system-g77073f406_1920.jpg);
  background-size: cover;
  background-position: center;
}
.part .title {
  background: url(/themes/ramin/web-gd9a5a5961_1920.jpg);
  background-size: cover;
  background-position: center;
  height: 20vh;
}
.academy .title {
  background: url(/themes/ramin/despaired-g84c5ce7f4_1920.jpg);
  background-size: cover;
  background-position: center;
}
.error h1 {
  color: red;
}

.text {
  text-align: center;
}
.panel h1 {
  box-shadow: none;
  background: #fffafa;
  height: auto;
  color: black;
}

h2 {
  padding: 40px 20px 10px 50px;
}
.cm-wrap {
  background-color: #00bfff;
  height: 30vh;
}
.cm-line {
  background-color: black;
  color: white;
}
h5 a {
  background-color: #00bfff;
}
/* del3 buttom */
button {
  border-radius: 5px;
  font-size: 20px;
  padding: 3px;
  background-color: rgb(240, 177, 42);
  box-shadow: 1px 2px #888888;
  margin: 2px;
}
button:hover {
  background-color: #fff;
}
/* det 4 */

.description,
.desdescription {
  position: relative;
  height: 150px;
  margin: 150px 200px 0 200px;
  padding: 20px;
  font-size: 20px;
}
.topic .description {
  text-align: center;
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.lession .description,
.part .description,
.panel .description,
.section .description {
  height: 0;
  padding: 0;
  margin: 0;
}
.errors {
  color: red;
  font-weight: bold;
}
/* del 5 */
.note {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 25px;
  font-size: 25px;
}
.link {
  color: white;
  padding: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.symbol {
  padding-left: 20px;
  font-size: 35px;
}
/* del 6 */
.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 10px;
}

.item {
  position: relative;
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d400d4;
  overflow: hidden;
  border-radius: 2px;
  z-index: -1;
}

/* .item:hover {
  animation: shake 1.2s infinite;
} */

a {
  text-decoration: none;
}

.item::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 140%;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 9s linear infinite;
  z-index: -10;
}
.item::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: #00bfff;
  border-radius: 10px;
  z-index: -10;
}
.item::after:hover {
  animation: shake 1.2s linear infinite;
}

.title ul {
  background-color: reds;
}
/* @keyframes shake {
  0% {
    transform: translate(0px, 0pc) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  75% {
    transform: translate(2px, -1px) rotate(2deg);
  }
  100% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
} */
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.index h2.list {
  display: grid;
  grid-template-columns: repeat(10, minmax(100px, 1fr));
  grid-gap: 10px;
}

/* del 5 */

footer {
  background-color: rgba(0, 0, 0, 0.703);
  color: white;
  height: 80px;
  padding: 20px;
  margin-top: 20px;
}

/* @media screen */

@media screen and (max-width: 1760px) {
  .list {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 30px;
  }
}
@media screen and (max-width: 968px) {
  body {
    background: #b0aaaa;
  }
  .description {
    margin: 100px 30px 100px 90px;
  }
  .list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 30px;
  }
  .item {
    height: 200px;
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  body {
    background: #a3a3a3;
  }
  .description {
    font-size: 18px;
  }
  .list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 50px;
  }
  .item {
    height: 200px;
    width: 200px;
  }
}
