<div id="clock">
  <div id="days" class="unit">
    <div class="number">--</div>
    <div class="description">dagar</div>
  </div>
  <div class="dot"></div>
  <div id="hours" class="unit">
    <div class="number">--</div>
    <div class="description">timar</div>
  </div>
  <div class="dot"></div>
  <div id="minutes" class="unit">
    <div class="number">--</div>
    <div class="description">minuter</div>
  </div>
  <div class="dot"></div>
  <div id="seconds" class="unit">
    <div class="number">--</div>
    <div class="description">sekunder</div>
  </div>
</div>
