body {
    background-color: var(--background);
}

#container {
    color: var(--font);
    background-color: var(--foreground);
    padding: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0;
    margin-left: 20vw;
    margin-right: 20vw;
    border: solid var(--border) 10px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

#intro {
    border-bottom: solid var(--border) 2px; 
}

.boxes {
    display: flex;
    flex-direction: column;
}

.box {
    border-bottom: solid var(--border) 2px; 
}

.comment {
    margin-top: 10vh;
    border-top: dotted var(--border) 20px; 
}