/* # A4 landskape is:
 * 
 * heigth: 210mm;
 * width: 297mm;
 * ratio: 296/210=1.40476190476
 */
body {
  print-color-adjust: exact;
  --ratio: 1.404762;
  --width: calc(var(--height) * var(--ratio));
  --height: 67vw;
}
.page {
  border-radius: 5vh;
  border-width: 1vh;
  width: var(--width);
  height: var(--height);
}
