/* # A4 is:
 * 
 * heigth: 297mm;
 * width: 210mm;
 * ratio: 296/210=1.40476190476
 */
@media print {
  body {
    print-color-adjust: exact;
    --ratio: 1.404762;
    --width: 67vw;
    --height: calc(var(--width) * var(--ratio));
  }
  #content {
    border-radius: 5vh;
    border-width: 1vh;
  }
}
