<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Mimer Akademin</title>
    <link rel="stylesheet" href="/lib/themes/james/index.css" />
  </head>
  <body>
    <dev id="container">
      <dev id="intro">
        <h1>{{title}}</h1>
      </dev>
      <dev class="boxes questions">
        {{#questions}}
        <dev class="box question">
          <h1>{{title}}</h1>
          <ol>
            {{#facts}}
            <li>{{description}}</li>
            {{/facts}}
          </ol>
        </dev>
        {{/questions}}
      </dev>
      <dev class="comment answers">
        <h1>Lösningar</h1>
        <ol>
          {{#answers}}
          <li>{{index}} - {{description}}</li>
          {{/answers}}
        </ol>
      </dev>
    </dev>
  </body>
</html>
