/* Partly From https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j */
/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
  --width: min(80vw, 1400px);
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

/* full-sized  container that fills up the page */
#content {
  min-height: 100%;
  width: var(--width);
  margin: 0 auto;
}
