body {
  background-color: var(--ligth-2);
}

#content {
  padding-left: 1vh;
  padding-right: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1vh solid;
  border-right: 1vh solid;
  background-color: var(--ligth-5);
  border-color: var(--dark--2);
}

#banner {
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#banner h1 {
  font-size: 8vh;
  font-weight: bold;
  font-family: "Title", Arial, sans-serif;
  padding-top: 2vh;
  margin: 0;
}

#banner h2 {
  font-size: 2vh;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#top {
  font-size: max(1vh, 15px);
  padding: 0;
  margin: 0;
  font-family: "Paragraph", Georgia, serif;
}

p {
  margin-bottom: 0;
}

ul,
p {
  font-size: max(2vh, 20px);
}

.duration {
  font-size: max(2vh, 20px);
  font-weight: bolder;
}

.duration::before {
  content: "📅";
}

#middel {
  font-size: max(2vh, 20px);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#middel > :nth-child(odd) {
  background-color: var(--ligth-4);
}

#middel > :nth-child(even) {
  background-color: var(--ligth-2);
}

.card {
  margin: 5px;
  width: max(30vw, 600px);
  border: solid 1vmin;
  border-color: var(--dark--2);
  border-radius: 1vmin;
  padding-left: 1vw;
  padding-right: 1vw;

  h1 {
    font-family: "Paragraph", Georgia, serif;
    margin-bottom: 0;
  }

  h2 {
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
  }
}

#middel img {
  width: 20vh;
}

#ending {
  padding: 0 1vh;
  margin: 1vh 2vh;
  border-radius: 1vh;
  border-width: 1vh;
  border-color: var(--ligth-2);
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

#info {
  font-size: 3vh;
  font-weight: bolder;
  margin: 2vh 0;
}

#ending img {
  margin: 2vh 0;
  width: 5vh;
  height: 5vh;
}

footer {
  display: none;
}
