body{
    background-color: #14191d;
    filter: brightness(0.9) contrast(1.1);
}

#level{
    background-color:#14191d;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    color:#c9d0d4;
    border: solid 0.2px;
    border-radius: 8px;
    padding: 7px 12px ;
}
#level:hover{
    box-shadow: 
    0 0 10px 1px cyan,
    0 0 10px 1px cyan;
}
select {
        -webkit-appearance: transparent;
        -moz-appearance: transparent;
        appearance: none;
}
option{
    font-weight: bold;
}

.title{
    background-color: #232B32;
    color: #c9d0d4;
    font-family: 'Open Sans Condensed', sans-serif   ;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    border: 4px solid #c9d0d4;
    margin-bottom: 50px;
    padding-top: 15px ;
    padding-bottom: 25px;
}
.description {
    background-color: #232B32;
    color: #c9d0d4; 
    margin-bottom: 6%;
    border:10px dotted;
    padding: 20px;
    margin-right: 27%;
    margin-left: 27%;
    font-size: 25px;
    font-family: helvetica, sans-serif;


}
.list {
    color: #c9d0d4;
    list-style-type:simp-chinese-informal;
}

a.link{
    color: #c9d0d4;
    font-size: 26px;
}

a.link:hover {
    color: orange;
    text-transform: uppercase;
    font-size: 21px;
}

.item{
    background-color: #232B32;
    color: #c9d0d4;
    margin-bottom: 25px;
    border: solid;
    padding: 17px;
    font-size: 23px;
    text-transform: capitalize;

}



.item:nth-child(odd){
    position: relative;
    
    margin-right: 55vw;
    margin-left: 15vw ; 
}

.item:nth-child(even){
    
    margin-left: 50%;
    margin-right: 20vw;
    margin-top: -9.4vh;
    position: relative;
}


.item:hover{
    color: orange;
    background-color: grey;

}

footer{
    background-color: #232B32;
    color: #cc6900;
    font-family: 'Courier New', sans-serif;
    font-style: italic;
    margin-top: 10%;
    border-top: 5px solid burlywood;
    padding-bottom: 10px;
    padding-left: 3vw;

}

.level{
    padding-left: 50%;
}

/* 1200px bred skärm */

@media all and (max-width: 1280px ){
    
    #level{
        font-size: 14px;
        padding: 5px 10px ;
        margin-left: 45px;
    }
    .title{
        font-size: 30px;
        border: 2px solid #c9d0d4;
        margin: 25px 45px 40px 45px;
        padding-top: 10px ;
        padding-bottom: 14px;
    }
    .description {
        margin-bottom: 6%;
        border:8px dotted;
        padding: 15px;
        margin-right: 20%;
        margin-left: 20%;
        font-size: 22px;

    }

    a.link{
        font-size: 20px;
    }

    
    a.link:hover {
        color: orange;
        font-size: 19px;
    }
    
    .item{
        margin-bottom: 25px;
        padding: 15px;
        font-size: 20px;
        
    }
    
    
    
    .item:nth-child(odd){
        margin-right: 50vw;
        margin-left: 8vw ;
    
    
    }
    
    .item:nth-child(even){
        margin-left: 55vw;
        margin-right: 8vw;
        margin-top: -9.4vh;
    }
    
    footer{
        margin-top:12vh;
        border-top: 3px solid burlywood;
        padding-bottom: 10px;
        padding-left: 3vw;
    }   

}
/*
@media all and (max-width: 1280px ){

}
}
*/


@media all and (max-device-width: 500px ){
    #level{
        font-size: 16px;
        border: solid 0.2px;
        border-radius: 8px;
        padding: 7px 12px ;
    }
    #level:hover{
        box-shadow: none;
        
    }
    
    .title{

        font-size: 26px;
        border: 4px solid #c9d0d4;
        margin-bottom: 50px;
        padding-top: 15px ;
        padding-bottom: 25px;
    }
    .description {
        margin-right: 7%;
        margin-left: 7%;
        font-size: 20px;
    }
    .list {
        list-style-type:simp-chinese-informal;
        font-size: 15px;
    }
    
    a.link{
        font-size: 15px;
    }
    
    a.link:hover {
        color: orange;
        text-transform: none;
        font-size: 15px;
    }
    
    .item{
        margin-bottom: 25px;
        padding: 37px;
        font-size: 10px;
    
    }
    
    
    
    .item:nth-child(odd){
        position: relative;
        margin-right: 5%;
        margin-left: 5% ; 
        margin-bottom: -3%;
    }
    
    .item:nth-child(even){
        position: relative;
        margin-right: 5%;
        margin-left: 5% ; 
        margin-top: 5%;
    }
    
    footer{

        margin-top: 10%;
        border-top: 5px solid burlywood;
        padding-bottom: 10px;
        padding-left: 3vw;
        font-size: 15px;
    
    }

}

@media screen and (max-width: 500px)
{
    #level{
        font-size: 16px;
        border: solid 0.2px;
        border-radius: 8px;
        padding: 7px 12px ;
    }
    #level:hover{
        box-shadow: none;
        
    }
    
    .title{

        font-size: 26px;
        border: 4px solid #c9d0d4;
        margin-bottom: 50px;
        padding-top: 15px ;
        padding-bottom: 25px;
    }
    .description {
        margin-right: 2%;
        margin-left: 2%;
        font-size: 20px;
    }
    .list {
        list-style-type:simp-chinese-informal;
        font-size: 15px;
    }
    
    a.link{
        font-size: 15px;
    }
    
    a.link:hover {
        color: orange;
        text-transform: none;
        font-size: 15px;
    }
    
    .item{
        margin-bottom: 25px;
        padding: 37px;
        font-size: 10px;
    
    }
    
    
    
    .item:nth-child(odd){
        position: relative;
        margin-right: 4%;
        margin-left: 1% ; 
        margin-bottom: 3%;
    }
    
    .item:nth-child(even){
        position: relative;
        margin-right: 4%;
        margin-left: 1% ; 
        margin-top: 2%;
        margin-bottom: 3%;
    }
    
    footer{

        margin-top: 10%;
        border-top: 5px solid burlywood;
        padding-bottom: 10px;
        padding-left: 3vw;
        font-size: 15px;
}
}
