@import url("default.css");
/* https://colorhunt.co/palette/1534483c5b6f948979dfd0b8 */
body {
  --primary: #948979;
  --secondary: #3c5b6f;
  --foreground: #dfd0b8;
  --background: #153448;
  --border: #3c5b6f;
}
